@import "variables";
@import "mixins";

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    background-color: #000;

}


.header {
    background-color: #000;

    .nav-menu {
        width: 100%;
        height: 51px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #fff;
        border-bottom: 1px solid #eeeded33;
        background: linear-gradient(158.71deg, #ffffff35 -100%, #ffffff05 100%);
        box-shadow: inset -5px -5px 250px #ffffff05;
        backdrop-filter: blur(21px);

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
        }

        li a{
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            list-style: none;
            text-decoration: none;
            margin-right: 51px;
            cursor: pointer;
            color: #fff;

            &:hover {
                color: #FDB827;
                transition: 500ms;
                list-style-type: disc;

                &.active {
                    color: #FDB827;
                    list-style-type: disc;
                }

            }
        }
    }
}

.main-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 495px;

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            width: 745px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 69px;
            text-align: center;
            color: #fff;
        }

        p {
            width: 557px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FFF;

        }

        #pic-left {
            width: 407px;
            height: 407px;
            position: absolute;
            top: 5%;
            left: 7%;
            z-index: 2;
        }
    }

    #pic-right {
        width: 262px;
        height: 262px;
        position: absolute;
        right: 13%;
        top: 314px;
        z-index: 0;
    }


}

.buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 455px;

    .btn-small  {
        width: 113px;
        height: 49px;
        background: #FDB827;
        border-radius: 8px;
        margin-right: 10px;
        cursor: pointer;
a{
    text-decoration: none;
    list-style: none;
    color: #000;
}
        &:hover {
            transition: 500ms;
            background: #fac758;
        }
    }

    .btn-big {
        width: 198px;
        height: 49px;
        border-radius: 8px;
        background-color: #4d4d4d;
        cursor: pointer;
        a{
            text-decoration: none;
            list-style: none;
            color: #fff;
        }
        &:hover {
            transition: 500ms;
            background: #fac758;
            color: #000;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // position: absolute;
    width: 100%;
    height: 30px;
    // top: 94.8%;
    background-color: #000;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    @include mobile {
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 40px;
    }

    .copyright p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 15px;
            cursor: pointer;
        }
    }
}

.about {
    .about-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .about-img {
            width: 270px;
        }

        h1 {
            width: 690px;
            height: 217px;
            font-weight: 700;
            font-size: 45px;
            line-height: 54px;
            color: #FFF;

            span {
                color: #fdb827;
            }
        }
    }

    .about-text {
        height: auto;
        // width: 90%;
        margin-left: 59px;
        margin-right: 59px;
        font-style: normal;
        font-size: 12px;
        line-height: 15px;

    }
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contact-img {
        width: 300px;
        height: 500px;
    }

    .contact-content {
        width: 529px;
        height: 297px;
        margin-top: 2%;

        h1 {
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            margin: 0px;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }

        .content-links ul {
            margin: 0px;
            padding: 0px;

            li {
                list-style-type: none;
                text-decoration: none;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }

}

.journey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    margin-left: 54px;

    @include mobile {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
    }

    .left-cont {
        width: 50%;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFF;

        .journey-title {
            display: flex;
            flex-direction: row;

            .journey-img {
                width: 221px;
                height: 221px;
                margin-top: 30px;
                margin-right: 15px;

                @include mobile {
                    display: none;
                }
            }

            .journey-title-text {
                width: 560px;

                h1 {
                    font-size: 48px;
                    line-height: 58px;
                    width: 591px;
                    height: 150px;

                    @include mobile {
                        font-size: 36px;
                        line-height: 44px;
                        width: 300px;
                    }
                }

                p {
                    width: 344px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ffffff73;
                    text-align: left;

                    @include mobile {
                        width: 300px;
                        text-align: center;

                    }
                }
            }

        }
        .journey-text {
            width: 869px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #FFF;

            @include mobile {
                width: 320px;
                font-size: 14px;
                line-height: 17px;

            }
        }
    }

    .right-cont {
        width: 227px;
        height: 750px;
        background: #0E0E10;
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        @include mobile {
            display: flex;
            flex-direction: row;
            height: auto;
        }
        h3 {
            font-weight: 900;
            font-size: 25px;
            line-height: 30px;
        }

        //timeline
        .newsList-container{
            overflow: auto;
            height: 73%;

            .news-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin-top: 10px;
    
                .date {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 13px;
                    color: #ffffff91;
                    padding-left: 5px;
                }
                .news-description {
                    width: 191px;
                    height: 88px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    border: 1px solid #ffffff59;
                    border-radius: 19px;
                    padding-left: 5px;
    
                    .heading {
                        width: 174px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        color: #fff;
                        margin: 0;
                    }
    
                    .text {
                        width: 174px;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 13px;
                        color: #ffffff8f;
                        margin: 0;
                    }
                }
            }
        }
    }
}
.timeFilter{
    .selected-year {
        display: flex;
        width: 191px;
        height: 42px;
        border: 0.3px solid #fff;
        background: none;
        color: #fff;
        padding-left: 16px;
        border-radius: 8px;
        .option {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            background-color: #000;
        }
    }
}
//BLOG
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 30px 54px;

    .postList-container {
        display: grid;
        gap: 10px;
        row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        width: 100%;

        .post-container {
            width: 242px;
            height: 323px;
            display: flex;
            flex-direction: column;
            background: #ffffff1a;
            border: 1px solid #ffffff59;
            border-radius: 19px;

            .heading {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #fff;
                padding-left: 10px;
            }

            .image {
                width: 242px;
                height: 173.77px;
                border: 1px solid #ffffff59;
                border-radius: 19px;
                cursor: pointer;
            }

            .text,
            .link {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #fff;
                padding-left: 10px;
                margin: 0;
                padding-bottom: 20px;
            }

            .link {
                cursor: pointer;
            }
        }
    }
}

//Portfolio
.portfolio-main-container {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 54px;

    .workList-container {
        display: grid;
        row-gap: 30px;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
        width: auto;

        .work-container {
            width: 463px;
            height: 181px;
            display: flex;
            flex-direction: row;
            background: #ffffff1a;
            border: 1px solid #ffffff59;
            border-radius: 19px;

            .work-description {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .heading {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #fff;
                    padding-left: 10px;
                }

                .image {
                    width: 181px;
                    height: 181px;
                    border: 1px solid #ffffff59;
                    border-radius: 19px;
                }

                .text,
                .link {
                    width: 257px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #fff;
                    padding-left: 10px;
                    margin: 0;
                    padding-bottom: 20px;
                }

                .link {
                    // padding-top: 35px;
                    cursor: pointer;
                }
            }
        }
    }
}

.table-list{
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFF;
        height: 500px;

th{
    width: 200px;
    height: 40px;
    border: 1px solid rgb(241, 241, 123);
}
    td{
text-align: center; 
   }
}